*{
    box-sizing: border-box;
    margin:5px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}

/*  HEADER  */

header{
    background:url('img/cabecera_fondo.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height: 250px;
} 

.nav{
    display: flex;
    align-items:center;   
}

.logo{
    flex: 1 auto; 
}

.logo img{
    width: 60px;
}

.nav-menu{
    flex: 4 auto;
    display: flex;
    align-items:center;
    justify-content:space-around;
    flex-wrap: wrap;
}

.nav-menu a{
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(231, 52, 52);
}

.nav-menu a:hover{
    border-bottom:1px solid red;
}

.social{
    flex: 1 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
}

.social i{
font-size: 1.8em;
}

.texto{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.texto h1{
    color: red;
    opacity: 0.5;
}

/* EL CONTENIDO */

.section{
    display: flex;
}

.articles{
    flex: 3 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.article{
    flex: 1 1 auto;
    width: 40%;
    justify-content: space-around;
    background-color: #d1caca;
}
.article a{
    text-decoration: none;
    color: rgb(173, 42, 42);
    margin: 10px;
}
.article:hover{
    opacity: 0.9;
}


.fotojapon{
    max-width: 100%;
    vertical-align:top;
    margin: 0;
}

.article .fecha{
    position: absolute;
    color: white;
    margin-top: -37px;
}


.article .titulofoto{
    margin: 0;
    position: relative;
    background-color: rgb(231, 52, 52);
    color: white;
    margin-top: -19px;
    text-align: center;
}
.descripcion{
    margin:0;
    color: black;
}
.descripcion p,
.contenido-footer p{
    font-size: 1em;
}





/* ASIDE */


aside{
    flex: 2 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.aside-article{
    border: 1px solid red;
    height: 33%;
    padding: 5px;
}
.aside-article h4{
   text-align: center;
}


/* FOOTER */


footer p{
    text-align: center;
}

.contenido-footer{
    background-color: rgb(231, 52, 52);
    line-height: 100px;
}


/* MEDIAQUERIES */
@media all and (max-width: 800px){
    .section{
        display: block;
    }
}


